.piece-normal {
  stroke: black;
  fill: none;
}

.piece-normal-fill {
  stroke: black;
  fill: black;
}

.piece-normal-no-stroke {
  stroke: none;
  fill: black;
}

.piece-move {
  stroke: forestgreen;
  fill: none;
}

.piece-move-fill {
  stroke: forestgreen;
  fill: forestgreen;
}

.piece-move-no-stroke {
  stroke: none;
  fill: forestgreen;
}

.piece-selected {
  stroke: darkred;
  fill: none;
}

.piece-selected-fill {
  stroke: darkred;
  fill: darkred;
}

.piece-selected-no-stroke {
  stroke: none;
  fill: darkred;
}

.selectable {
  cursor: pointer;
}

.highlight-ok {
  background-color: #deffd9;
}

.highlight-block {
  background-color: #ffc1bd;
}
